<div class="farder">
  <div class="kensaku">
    <br>
    <h3>問卷名稱</h3>
    <mat-form-field class="example-full-width" >
      <mat-label>問卷名稱</mat-label>
      <input matInput placeholder="" value="" [(ngModel)]="Questionnaire_n">
    </mat-form-field>

    <h3>開始時間</h3>
    <mat-form-field class="example-full-width">
      <mat-label>MM/DD/YYYY</mat-label>
      <input matInput [matDatepicker]="picker1" [(ngModel)]="fdata"/>
      <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>

    <h3>結束時間</h3>
    <mat-form-field class="example-full-width">
      <mat-label>MM/DD/YYYY</mat-label>
      <input matInput [min]="fdata" [matDatepicker]="picker2" [(ngModel)]="edata" />
      <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>
    <br>
    <button type ButtonVariant = 'raised' (click)="searchChecklist()" mat-flat-button>搜尋</button>
    <br>
  </div>

  <div class="checklistMenu">
    <table mat-table [dataSource]="dataSource" class="container">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>編號</th>
        <td class="in" mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>名稱</th>
        <td class="in" mat-cell *matCellDef="let element">@if(element.status=='進行中')
                                                    {<button (click)="siyosya2(element.id,element.name,element.description)">
                                                      {{element.name}}</button>}
                                              @else { {{element.name}} }</td>
      </ng-container>

      <ng-container matColumnDef='status'>
        <th mat-header-cell *matHeaderCellDef>狀態</th>
        <td class="in" *matCellDef="let element"> {{element.status}} </td>
      </ng-container>

      <ng-container matColumnDef='start_date'>
        <th mat-header-cell *matHeaderCellDef>開始時間</th>
        <td class="in" mat-cell *matCellDef="let element"> {{element.start_date}} </td>
      </ng-container>

      <ng-container matColumnDef='end_date'>
        <th mat-header-cell *matHeaderCellDef>結束時間</th>
        <td class="in" mat-cell *matCellDef="let element"> {{element.end_date}} </td>
      </ng-container>

      <ng-container matColumnDef='GoTo'>
        <th mat-header-cell *matHeaderCellDef>統計</th>
        <td class="in" mat-cell *matCellDef="let element">@if(element.status=='進行中'||element.status=='已結束')
                                                  {<button (click)="siyosya4(element.id)">前往</button>}
                                                  @else { 前往 }</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tbody id="dynamicList"></tbody>
    </table>

    <mat-paginator [pageSizeOptions]="[10, 20]"
                 showFirstLastButtons
                 aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>
</div>

