<div class="menu_up" style="position: fixed;">
  <ul>
    <li>
      <button mat-icon-button (click)="drawer.toggle()" class="menu" for="checkbox" style="position: absolute;">
        <mat-icon>menu</mat-icon>
      </button>
    </li>
    <li>
      <button mat-icon-button (click)="home()" class="home" for="checkbox" style="position: absolute;">
        <mat-icon class="home_m">home</mat-icon>
      </button>
    </li>
    <li>
      <a class="group" routerLink="/moguhyo1/touroku"> <!--管理者登入-->
        <i class="" aria-hidden=""></i>
        <mat-icon>manage_accounts</mat-icon>
      </a>
    </li>
  </ul>
</div>
<!-- <div class="menudiv">
  <nav>
    <label class="menu" for="checkbox" style="padding: 10px;">
      <mat-icon fontIcon="density_small"></mat-icon>
    </label>

    <a class="newkami1" routerLink="/moguhyo1/mokuhyo3">
      <mat-icon fontIcon='edit_document'></mat-icon>
    </a>

    <a class="newkami2" routerLink="/moguhyo1/mokuhyo2">
      <mat-icon fontIcon="import_contacts"></mat-icon>
    </a>
  </nav>
</div> -->

<mat-drawer-container class="menudiv" autosize>
  <mat-drawer #drawer class="example-sidenav"  mode="over">
    <nav>
      <a class="newkami1" routerLink="/moguhyo1/mokuhyo3">
        <mat-icon fontIcon='edit_document' (click)="drawer.toggle()"></mat-icon>
      </a>

      <a class="newkami2" routerLink="/moguhyo1/mokuhyo2">
        <mat-icon fontIcon="import_contacts" (click)="drawer.toggle()"></mat-icon>
      </a>
    </nav>
  </mat-drawer>
  <div class="manaka">
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>


