<div class="menu_up" style="position: fixed;">
  <ul>
    <li>
      <button mat-icon-button (click)="drawer.toggle()" class="menu" for="checkbox" style="position: absolute;">
        <mat-icon>menu</mat-icon>
      </button>
    </li>
    <li>
      <button mat-icon-button (click)="home()" class="home" for="checkbox" style="position: absolute;">
        <mat-icon class="home_m">home</mat-icon>
      </button>
    </li>
    <li>
      <button class="group"  mat-icon-button (click)="logout()" for="checkbox" style="position: absolute;">
        <mat-icon class="home_m">logout</mat-icon>
      </button>
    </li>
  </ul>
</div>


<mat-drawer-container class="menudiv" autosize>
  <mat-drawer #drawer class="example-sidenav"  mode="over">
    <nav>
      <a class="newkami1" routerLink="/moguhyo1/mokuhyo3">
        <mat-icon fontIcon='edit_document' (click)="drawer.toggle()"></mat-icon>
      </a>

      <a class="newkami2" routerLink="/moguhyo1/mokuhyo2">
        <mat-icon fontIcon="import_contacts" (click)="drawer.toggle()"></mat-icon>
      </a>
    </nav>
  </mat-drawer>
  <div class="manaka">
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>


