
h1{
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.siyousya{
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
  // margin: auto;
}

p{
  font-size: 24px;
  width: 60%  ;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin: auto;
}

.container label{
  width: 8%;
}

.container input{
  width: 40%;
}

.forsitumon{
  width: 50%;
  // max-width: fit-content;
  text-align:left;
  margin-left: auto;
  margin-right: auto;
}
.botam{
  text-align: right;
}

