<h1>{{quiz.name}}</h1>
<div class="siyousya">
  <p>{{quiz.description}}</p>
  <br>
  <div id="auth-form" class="form active">
    <label>名字:</label>
    <input  placeholder="名字">
    <br>
    <label>手機:</label>
    <input  placeholder="手機">
    <br>
    <label>信箱:</label>
    <input  placeholder="信箱">
    <br>
    <label>年齡:</label>
    <input  placeholder="年齡">
    <br>
  </div>
</div>
<br>
<div class="forsitumon">
  <ol>
    @for (ques of newQuestArray; track $index) {
        <li>
            <h5>
                {{ ques.ques_name }}
                @if (ques.required) {
                    <span style="color: red;">*</span>
                }
            </h5>
        </li>
        <!-- 多選M 單選Q 文字輸入T -->
        @if (ques.type == 'multi') {
            @for (option of ques.quest; track $index) {
                <div>
                    <input type="checkbox" [(ngModel)]="option.boxBoolean">
                    {{ option.option }}
                </div>
            }
            <br>
        }

        @if (ques.type == 'single') {
            @for (option of ques.quest; track $index) {
                <input type="radio" name="{{ques.id}}" value="{{option.optionNumber}}"
                       [(ngModel)]="ques.radioAnswer">
                    {{ option.option }}
                <br>

            }
            <br>
        }

        @if (ques.type == 'text') {
            <textarea style="height: 150px; width: 60%;" [(ngModel)]="ques.answer"></textarea>
            <br>
        }
    }
    </ol>
</div>

<div class="botam">
  <button mat-flat-button >取消</button>
  <button mat-flat-button (click)="goMokuhyo4()">上一步</button>
  <button mat-flat-button (click)="storeService()">儲存並發布</button>
</div>
