<div [ngClass]="{'topcoolse': input_cloose}" class="leftop">
  <h3>問卷問題</h3>
  <mat-form-field class="example-full-width">
    <mat-label>題目</mat-label>
    <input matInput placeholder="" value="" [(ngModel)]="ques_name">
  </mat-form-field>
  <h3>題目類型</h3>
  <mat-form-field name="question_type" id="question_type">
    <mat-label>選擇題型</mat-label>
    <mat-select [(ngModel)]="type">
      <mat-option value="single">單選題(single)</mat-option>
      <mat-option value="multi">複選題(multi)</mat-option>
      <mat-option value="text">文字描述(text)</mat-option>
    </mat-select>
  </mat-form-field>
  <section class="example-section" [ngClass]="{'topcoolse': input_cloose}">
    <mat-checkbox class="example-margin" [(ngModel)]="required">必選</mat-checkbox>
  </section>
  <br>
  <button mat-flat-button (click)="generateQuestionsQuestionnaire()">確定</button>
</div>

<nav class="right">
  <div class="rightDiv">
    @if (qQQ && type != "text") {
    <button [ngClass]="{'topcoolse': (type =='text')||(qa_A_id == 20)}"
      (click)="addQA()"><mat-icon>add</mat-icon></button>
    <br>
    @for (Qroduce of quest; track $index) {
    <button  [ngClass]="{'topcoolse': ($index < 2 )}" style="margin: 5px;" (click)="deleteQA($index)"><mat-icon>close</mat-icon></button>
    @if (type == 'single') {
    <input type="text" [(ngModel)]="Qroduce.option">
    <br>
    }
    @if (type == 'multi') {
    <input type="text" [(ngModel)]="Qroduce.option">
    <br>
    }
    }
    }
  </div>
  <div style="text-align: right;">
    @if (qQQ) {
    @if(!editSure){
    <button mat-flat-button (click)="addNewList()">新增</button>
    }
    @if(editSure){
    <button mat-flat-button (click)="ConfirmEdit()">確定編輯</button>
    }
    }
  </div>
</nav>
<div class="bottom">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </th>

      <td mat-header-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row): null"
          [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </td>
    </ng-container>

    <ng-container matColumnDef="ques_name">
      <th mat-header-cell *matHeaderCellDef>名稱</th>
      <td mat-cell *matCellDef="let element"> {{element.ques_name}} </td>
    </ng-container>

    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef>問題類型</th>
      <td mat-cell *matCellDef="let element"> {{element.type}} </td>
    </ng-container>

    <ng-container matColumnDef="required">
      <th mat-header-cell *matHeaderCellDef>必填</th>
      <td mat-cell *matCellDef="let element"><input type="checkbox" [disabled]="true" [(ngModel)]="element.required">
      </td>
    </ng-container>

    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef>編輯</th>
      <td mat-cell *matCellDef="let element"><button (click)="editingOptions(element)">編輯</button></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</div>
<button (click)="deletedata()" mat-fab aria-label="Example icon button with a delete icon">
  <mat-icon>delete</mat-icon>
</button>
<div class="cikayan">
  <button mat-flat-button>取消</button>
  <button mat-flat-button (click)="goMokuhyo3()">上一步</button>
  <button mat-flat-button (click)="goMokuhyo5()">下一步</button>
</div>

