<!-- <app-component1 [value]="userName"></app-component1> -->
 <!-- {{title}} -->
<!-- <app-component1 [value]="userName" (changeUserName)="showNewName($event)"></app-component1> -->

<!-- <app-component1></app-component1> -->

@if(manage==true){
  <app-siyousya-ui></app-siyousya-ui>
}@else{
  <app-mokuhyo1></app-mokuhyo1>
}

<!-- <app-mokuhyo1></app-mokuhyo1> -->

<!-- <app-siyousya-ui></app-siyousya-ui> -->


<!--app-mokuhyo2></app-mokuhyo2-->

<!-- <app-mokuhyo3></app-mokuhyo3> -->

<!--app-mokuhyo4></app-mokuhyo4-->

<!-- <app-mokuhyo5></app-mokuhyo5> -->

<!-- <app-mokuhyo6></app-mokuhyo6> -->

<!-- <app-mokuhyo7></app-mokuhyo7> -->

<!-- <app-mokuhyo8></app-mokuhyo8> -->

<!-- <img src="{{apidogdata?.image?.url}}" alt=""><br> -->



<!--formGroup要放在TS中宣告的formGroup變數-->
<!-- <form [formGroup]="form">
  <div>
    <input formControlName="account" placeholder="帳號">
    <input formControlName="password" placeholder="密碼">
    <button (click)="showfromData()" [disabled]="!form.valid">登入</button>
  </div>
</form> -->
