@if (quData.quizName=='') {
  <h1>無</h1>
}
@else{<h1>{{quData.quizName}}</h1>}
<p>{{quData.quizDes}}</p>
<div>
  <label>名稱</label><span>{{quData.userName}}</span>
</div>

<div>
  <label>手機</label><span>{{quData.userPhone}}</span>
</div>

<div>
  <label>信箱</label><span>{{quData.userEmail}}</span>
</div>

<div>
  <label>年齡</label><span>{{quData.userAge}}</span>
</div>

<div>
  <ol>
    @for (quest of quesData; track $index) {
      <li>
        <h5>
          {{ quest.quesName }}
          @if (quest.required) {
            <span style="color: red;">*</span>
          }
        </h5>
      </li>
      @if (quest.type == 'multi') {
        <ol>
          @for (option of quest.options; track $index) {
            @if (option.boxBoolean){
              <li>
                <div>
                  <span>{{ option.option }}</span>
                </div><br>
              </li>
            }
          }
        </ol>
      }
      @if( quest.type == 'single' ){
        @if ( quest.radioAnswer ) {
          @for (option of quest.options; track $index) {
            @if (quest.radioAnswer == option.optionNumber) {
              <span> {{ option.option }} </span>
              <br>
            }
          }
        }@else {
          <span>無</span>
        }
      }
      @if ( quest.type == 'text') {
        <h3>{{quest.answer}}</h3>
      }
    }
  </ol>
</div>
<div>
  <button (click)="goSiyousya2()">返回上一頁</button>
  <button (click)="goHome()">儲存</button>
</div>
