<!-- <div class="menu_up"  style="position: fixed;">
  <ul>
    <li>
      <button mat-icon-button (click)="home()" class="home" for="checkbox" >
        <mat-icon class="home_m">home</mat-icon>
      </button>
    </li>
    <li class="example-spacer">
      <button mat-icon-button (click)="touroku()" class="group" for="checkbox" >
        <mat-icon>manage_accounts</mat-icon>
      </button>
    </li>
  </ul>
</div> -->

<mat-toolbar class="menu_up">
  <button mat-icon-button (click)="home()" class="home" for="checkbox" >
        <mat-icon class="home_m">home</mat-icon>
  </button>

  <span class="example-spacer"></span>

  <button mat-icon-button (click)="touroku()" class="group" for="checkbox" >
        <mat-icon>manage_accounts</mat-icon>
  </button>
</mat-toolbar>

<div  class="menudiv">
  <div class="manaka">
    <router-outlet></router-outlet>
  </div>
</div>

