.gamen{
  margin-left: 10px;
  margin-top: 10px;
  padding:10px;
  border-style: solid;
  width: 60vh;
  height: 65vh;
  background-color:rgb(226, 124, 240);
}
.yarinaosi{
  float: right;
}

h2{
  text-shadow: 0.5px 0.5px 0px black;
  text-align: center;
  text-transform: uppercase;
  color: red;
}

.bot{
  width: 35%;
  margin: 20px;
  margin-bottom: 30px;
}



.kaerulive{
  text-align: center;
  padding:10px;
  width: 100%;
  margin-top: 30px;
}
