<div>
  <h3>問卷名稱</h3>
  <mat-form-field class="example-full-width" >
    <mat-label>問卷名稱</mat-label>
    <input matInput placeholder="" value="" [(ngModel)]="questionnaireName">
  </mat-form-field>

  <h3>問卷內容說明</h3>
  <mat-form-field class="example-full-width" >
    <mat-label>問卷內容</mat-label>
    <input matInput placeholder="" value="" [(ngModel)]="questionnaireContent">
  </mat-form-field>

  <h3>開始時間</h3>
  <mat-form-field class="example-full-width">
    <mat-label>選擇開始時間</mat-label>
    <input matInput [min]="minDate1" [matDatepicker]="picker1" [(ngModel)]="fdata"/>
    <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
    <mat-datepicker #picker1></mat-datepicker>
  </mat-form-field>

  <h3>結束時間</h3>
  <mat-form-field class="example-full-width">
    <mat-label>選擇結束時間</mat-label>
    <input matInput [min]="fdata" [matDatepicker]="picker2" [(ngModel)]="edata" />
    <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
    <mat-datepicker #picker2></mat-datepicker>
  </mat-form-field>
</div>
<div>
  <button mat-flat-button >取消</button>
  <button mat-flat-button>上一步</button>
  <button mat-flat-button (click)="goMokuhyo4()">下一步</button>
</div>
